







body {
    // background-image: url('https://images.pexels.com/photos/1608383/pexels-photo-1608383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: inline;
    justify-items: center;
}

